
/* Type */

.landing h1,
.landing h2 {
    font-size: calc(1.5em + 1vw);
    line-height: 1.125;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 0.5em 0;
}

/* Layout adjustments */

.md-main__inner {
    margin-top: 0;
}

/* New components */